#chrome-ext-delicious-frame {
  -webkit-box-shadow: 0 0 100px #222;
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0;
  height: 540px;
  left: 50%;
  overflow: visible;
  position: fixed;
  top: 50%;
  width: auto;
  z-index: 2147483647;

  #chrome-ext-delicious-iframe {
    border: 0;
    height: 540px;
    margin: 0;
    overflow: hidden;
    width: 500px;
  }

  button.close_frame {
    -webkit-box-shadow: 0 0 10px #222;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222)) repeat scroll 0 0 transparent;
    border-radius: 13px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'arial';
    font-size: 20px;
    height: 26px;
    left: -13px;
    line-height: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -13px;
    width: 26px;

    &:hover {
      -webkit-box-shadow: 0 0 8px #222;
      top: -12px;
    }
  }
}
