@import "global";

/* select2 overrides */

.select2-container {

  &.select2-container-multi {
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;

    &.select2-container-active .select2-choices {
      -webkit-box-shadow: none;
      border: 1px solid $delicious-color-primary;
    }

    .select2-choices {
      -webkit-border-radius: 0;
      background-color: #fafafa;
      background-image: none;
      border: 1px solid #ccc;
      font-size: 16px;
      padding: 2px 0 0 0;

      .select2-search-choice {
        background-color: white;
        background-image: none;
        border-radius: 0;
        border: 1px solid $delicious-color-secondary;
        box-shadow: none;
        color: $text-color-hover;
      }

      .select2-search-field input {
        background-color: #fafafa !important;
        font-size: 16px;
      }
    }
  }
}

.select2-results {
  max-height: 100px;

  .select2-highlighted {
    background: $delicious-color-primary;
  }
}

.select2-drop {
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  background: #fafafa;
  border-color: $delicious-color-primary;
  margin-top: -6px;
}

.select2-display-none {
  display: none;
}

/* Global */

html {
  margin: 2px;
  padding: 0 0 4px 0;

  body {
    background: white url(../images/atlanta-skyline-bw.png) no-repeat center;
    background-position-y: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 500px;

    #content > footer {
      background-color: $delicious-color-logo-se;
      border-top: 1px solid white;
      color: $text-color;
      font-size: 13px;
      position: relative;
      text-align: center;

      p {
        margin: 0;
        padding: 12px 0;

        a {
          color: $text-color;
          font-size: 13px;
        }
      }

      aside.share {
        left: 20px;
        position: absolute;
        top: 10px;
      }
    }

    section {
      position: relative;

      header, main {
        position: relative;
        margin: 0 20px;
      }

      header {

        > span {
          position: absolute;
          right: 0;
          top: 24px;

          > input {
            font-size: 16px;
            margin: 0;
            vertical-align: top;
            width: auto;
          }
        }
      }

      main {
        padding-bottom: 25px;
      }
    }

    h1 {
      display: inline-block;
      font-weight: 300;
    }

    hgroup {
      padding: 10px 20px;
      margin-bottom: 15px;

      h1 {
        color: $color-light;
        font-size: 20px;
        font-weight: 300;
        margin: 0;
      }

      h2 {
        color: $color-light;
        font-size: 13px;
        font-weight: 300;
        margin: 0;
      }
    }

    section#content {
      padding: 0;
      background: $color-light;
    }

    form {
      margin: 0 20px;
    }

    form span {
      display: block;
      margin-top: 10px;
      text-align: right;
      position: relative;
    }

    form span img {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }

    form span p {
      display: inline-block;
      float: left;
      text-align: left;
      margin: 0;
    }

    form input, form textarea {
      -webkit-border-radius: 0;
      -webkit-box-shadow: none;
      -webkit-box-sizing: border-box;
      -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
      background-color: $color-fill-light;
      border: 1px solid $color-border-light;
      color: $text-color-hover;
      font-family: $font-family;
      font-size: 16px;
      margin: 0 0 5px;
      padding: 7px 5px;
      position: relative;
      resize: none;
      text-overflow: ellipsis;
      width: 100%;
    }

    form textarea {
      height: 68px;
    }

    form input:focus, form textarea:focus {
      -webkit-box-shadow: none;
      border: 1px solid $delicious-color-primary;
      outline: none;
    }

    form input::-webkit-validation-bubble-message {
      position: absolute;
      right: -438px;
      top: -30px;
    }

    form input.description-input {
      width: 427px;
    }

    form button.note-btn {
      float: right;
      min-width: 0;
      padding: 9px;
    }

    button, a.button {
      -webkit-box-sizing: border-box;
      border: none;
      color: $color-light;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      list-style-type: none;
      margin: 0;
      min-width: 100px;
      padding: 15px;
      position: relative;
      text-align: center;
    }

    a.button:hover {
      text-decoration: none;
    }

    button.primary, a.button.primary {
      background-color: $delicious-color-primary;
      font-family: $font-family;

      &:hover {
        background-color: $delicious-color-primary-hover;
      }
    }

    button.primary.selected, a.button.primary.selected {
      background-color: $delicious-color-primary-hover;
    }

    button.secondary, a.button.secondary {
      background-color: $delicious-color-secondary;

      &:hover {
        background-color: $delicious-color-secondary-hover;
      }
    }

    button.link, a {
      background-color: transparent;
      color: $delicious-color-primary;
      display: inline-block;
      font-size: 13px;
      line-height: normal;
      text-decoration: none;
    }

    button.link:hover, a:hover {
      text-decoration: underline;
    }

    p.error {
      color: $color-warning;
      text-transform: capitalize;
    }
    /* Nav */

    nav {
      background-color: $delicious-color-primary;
      height: 55px;
      padding: 0;
      position: relative;
      z-index: 1;
    }

    nav ul {
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline-block;
      list-style-type: none;
    }

    nav ul li a.button {
      -webkit-transition: color 0.2s;
      background-color: transparent;
      color: #C0D6F5;
      margin: 0 8px;
      overflow: hidden;
      padding: 20px 12px;
      position: relative;
    }

    nav ul li a.selected, nav ul li a:hover {
      color: $color-light;
    }

    nav ul li a.selected::after {
      background: lighten($delicious-color-primary, 10%);
      bottom: 1px;
      content: '';
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    /* Login */

    section#login {
      margin-bottom: 25px;
    }

    section#login header {
      background: $delicious-color-primary url(/images/icon-38@2x.png) no-repeat 20px center;
      background-size: 39px;
      padding-left: 42px;
      margin: 0;
    }

    form input:focus:invalid {
      border: 1px solid $color-warning;
    }
    /* Add link */

    section#addToDelicious {
      margin-bottom: 25px;
    }

    header span.private {
      margin: 0;
    }

    span.tags {
      display: inline-block;
      font-size: 13px;
      left: 0;
      margin: 0;
      position: absolute;
      text-align: left;
      top: 0;
      width: 335px;
    }

    span.tags p {
      font-size: 13px;
    }

    span.tags button {
      font-size: 13px;
      min-width: inherit;
      padding: 0 0 0 4px;
    }
    /* View my links */

    section#viewMyLinks {
      padding: 0;
    }

    section#viewMyLinks header {
      padding: 10px 0;
      overflow: hidden;
    }

    section#viewMyLinks .sort-options {
      float: left;
      width: 135px;
      margin-left: 10px;
    }

    section#viewMyLinks .sort-options select {
      height: 32px;
    }

    section#viewMyLinks header select {
      -webkit-appearance: menulist-text;
      padding: 8px 0 8px 10px;
      border-radius: 0;
      background: $delicious-color-primary;
      font-size: 13px;
      margin: 0;
      border: 0;
      color: $color-light;
      display: block;
      float: left;
    }

    section#viewMyLinks header select:first-child {
      width: 104px;
      margin-right: 1px;
    }

    section#viewMyLinks header select:last-child {
      width: 30px;
    }

    .filterinput {
      -webkit-appearance: textfield;
      background-color: $color-fill-light;
      border: 1px solid $color-border-light;
      float: left;
      font-size: 16px;
      font-family: $font-family;
      margin: 0;
      padding: 7px 2px;
      width: 311px;
    }

    .filterinput:focus {
      border: 1px solid $delicious-color-primary;
      outline: none;
    }

    .filter-toggle {
      background: $delicious-color-primary;
      color: $color-light;
      cursor: pointer;
      float: left;
      height: 32px;
      line-height: 32px;
      position: relative;
      text-align: center;
      width: 30px;
    }

    .filter-toggle::before {
      content: '\2191';
      display: inline-block;
      width: 100%;
    }

    .filter-toggle.filter-toggle-checked::before {
      content: '\2193';
    }

    .filter-toggle > input[type='checkbox'] {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
    }

    section#viewMyLinks header label {
      font-size: 13px;
    }

    a.remove.confirm {
      color: $color-warning;
    }

    .links {
      border-top: 1px solid $color-border-light;
      margin: 0;
      max-height: 398px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0;
      background-color: #f7f7f7;
    }

    .links::-webkit-scrollbar {
      display: none;
    }

    .links > li {
      background-color: #fcfcfc;
      border-top: 1px solid #ccc;
      list-style-type: none;
      padding: 10px 78px 10px 20px;
      position: relative;
    }

    .links > li:nth-child(odd) {
      background-color: #f7f7f7;
    }

    .links > li label {
      float: left;
      margin-top: 10px;
    }

    .links > li label input {
      margin-bottom: 0;
      vertical-align: top;
    }

    .links > li p {
      color: #a4a4a4;
      font-size: 13px;
      margin: 0;
      padding-top: 3px;
    }

    .links li p a.link_tag {
      color: #a4a4a4;
      font-size: 13px;
      margin-right: 3px;
    }

    .links > li > article {
      line-height: 0;

      > a {
        color: $delicious-color-primary;
        font-size: 15px;
        line-height: normal;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .links > li.private {
      border-top: 1px solid #EFCFBD;
      background: #fbf3ef url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2P8/vzef05JJUYGJADmoEvAVSBLoGiDSaAIwowCABbcE8GJ8NQzAAAAAElFTkSuQmCC) repeat;
    }

    .links > li:first-child {
      border-top: none;
    }

    .links > li img.favicon {
      margin-bottom: 1px;
      margin-right: 5px;
      vertical-align: bottom;
    }

    ul.tags {
      margin: 0;
      padding-left: 21px;
      list-style: none;
    }

    .tags li {
      display: inline-block;
      font-size: 13px;
      margin-right: 2px;
      color: #a9a9a9;
    }

    .tags li.private-tag {
      color: #d06c2d;
    }

    .tags li::after {
      content: ',';
      position: relative;
      left: -4px;
    }

    .tags li:last-child::after, .tags li.private-tag::after {
      display: none;
    }

    .tags li a {
      color: inherit;
    }

    .link-actions {
      height: 0;
    }

    .links li:hover .edit:after {
      background-size: 14px;
      background: #cccccc url(/images/icon-edit.png) no-repeat center;
      border-radius: 0 0 3px 3px;
      content: '';
      display: block;
      height: 20px;
      position: absolute;
      right: 47px;
      top: 0;
      width: 20px;
    }

    .links li:hover .add-url:after {
      background-size: 14px;
      background: $delicious-color-primary;
      border-radius: 0 0 3px 3px;
      content: '+';
      display: block;
      height: 20px;
      position: absolute;
      right: 24px;
      top: 0;
      width: 20px;
      color: $color-light;
      font-weight: bold;
      text-align: center;
      font-size: 16px;
    }

    .links li .remove-url:after {
      background-size: 14px;
      background: $delicious-color-primary;
      border-radius: 0 0 3px 3px;
      content: '\00d7';
      display: block;
      height: 20px;
      position: absolute;
      right: 24px;
      top: 0;
      width: 20px;
      color: $color-light;
      font-weight: bold;
      text-align: center;
      font-size: 16px;
    }

    .links li.linkAdded {
      background: #EFF4FB;
    }

    #viewMyLinks footer.open-urls {
      position: absolute;
      bottom: 0;
      background: $delicious-color-primary;
      padding: 10px 20px;
      font-size: 12px;
      text-align: center;
      width: 100%;
      border-top: 1px solid $color-light;
    }

    #viewMyLinks footer.open-urls a {
      color: $color-light;
    }

    #viewMyLinks footer.open-urls button.clear {
      background: $color-light;
      border-radius: 50%;
      border: none;
      color: $delicious-color-primary;
      font-size: 15px;
      font-weight: bold;
      height: 20px;
      margin: 0;
      min-width: 20px;
      padding: 0 0 3px 0;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 8px;
      width: 20px;
    }

    .links form {
      margin: 0;
    }

    .links form footer {
      margin-top: 10px;
      text-align: right;
    }

    .links form footer a {
      margin-right: 10px;
    }

    .links form label > input {
      width: auto;
    }

    .links > li.edit {
      background: lighten($delicious-color-primary, 50%);
      border-top: 1px solid $delicious-color-primary;
      z-index: 1;
      padding: 20px;
    }

    .view-enter-setup {
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
    }

    .view-enter-setup {
      opacity: 0;
    }

    .view-enter-setup.view-enter-start {
      opacity: 1;
    }

    #content > footer p a.donate {
      color: #A45328;
    }
  }
}
