body {
  color: #444;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
  margin: 0;
  overflow-x: hidden;
  width: 500px;
  padding:0;
  background-color:#fff;
  box-sizing: border-box;
  position: relative;
}

header > div {
  display: none;
}

p.error {

  background-color: #CE6C36;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top:1px solid #fff;
  color: #fff;
  display: none;
  height:20px;
  overflow:hidden;
  padding: 8px 15px;
  position: absolute;
  left:15px;
  top:10px;
  width:440px;
  z-index: 2;
  margin:0;

}

p.log {

  background-color: #6A9B00;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top:1px solid #fff;
  color: #fff;
  display: none;
  height:20px;
  overflow:hidden;
  padding: 8px 15px;
  position: absolute;
  right:20px;
  top:34px;
  white-space:nowrap;
  z-index: 2;

}

p button.close {
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #ccc;
    color: #444;
    float: right;
    height: 18px;
    margin: 0;
    min-width: 0;
    padding: 0 0 3px;
    width: 18px;
}

p button.close:hover {
    background-color: #f4f4f4;
}

nav {
  background-color: #285da7;
  border-bottom: 3px solid #fff;
  border-top: 10px solid #fff;
  height: 40px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav ul li#search input {
    display: none;
    position: absolute;
    right: 20px;
    top: 8px;
    width: 170px;
}

button{
  background-color: #285da7;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  list-style-type: none;
  margin: 0;
  min-width: 78px;
  padding: 0 15px;
  position: relative;
}

button.selected {
  background-color: #235292;
}

button.selected > .nub {
  height:0;
  width:0;
  border:8px solid;
  border-color: transparent transparent #fff transparent;
  margin-left:50%;
  position: absolute;
  bottom: 0;
  left: -8px; /*thickness of border*/
}

button:hover{
  background-color:#235292;
}

section#login,
section#addToDelicious,
section#viewMyLinks {
  padding: 15px 15px 0;
}

section#viewMyLinks {
  max-height: 500px;
  overflow-y: scroll;
}

section#login {
  display:none;
}

section header {
  position: relative;
}

section header h1 {
  display: inline-table;
  margin: 0 0 10px;
  font-size:18px;
}

section header h1 a {
  font-size:18px;
}

section header h1 span {
  margin-left:5px;
}

section header > span {
  position: absolute;
  right: 0;
  top: 5px;
}

section header > span > input {
  vertical-align: top;
}

section > input {
  background-color: #f1f1f1;
  border: 0;
  font-size: 16px;
  margin: 0 0 5px;
  padding: 5px 0;
  text-indent: 8px;
  text-overflow: ellipsis;
  width: 100%;
}

section > span {
  display: block;
  margin: 4px 0 15px;
  text-align: right;
}

section > span.tags {
  color: #a4a4a4;
  float: left;
  font-size: 14px;
  margin: 3px 0 0;
  text-align: left;
}

section a {
  color:#285da7;
  font-size: 14px;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section span img.loading {
  display: none;
  margin-top: 8px;
  padding: 4px 3px 0 0;
  vertical-align: top;
}

section button[disabled=disabled] {
  background-color: #285DA7;
  color: #ccc;
  cursor: default;
}

section#viewMyLinks {
  display: none;
  padding-bottom: 10px;
}

section#viewMyLinks ul {
  margin: 0;
  padding: 0;
}

section#viewMyLinks ul li {
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding: 5px;
  position: relative;
}

section#viewMyLinks ul li:nth-child(2n) {
  background-color: #f4f4f4;
}

section#viewMyLinks ul li p {
  background: url(icon-tag.png) no-repeat left;
  color: #a4a4a4;
  font-size: 13px;
  margin-top: 3px;
  margin: 0;
  padding-left: 15px;
}

section#viewMyLinks ul li a {
  color: #285DA7;
  font-size: 15px;
  text-decoration: none;
}

section#viewMyLinks ul li a:first-child {
  display: inline-block;
  margin-right: 25px;
}

section#viewMyLinks ul li a:hover {
  text-decoration: underline;
}

section#viewMyLinks ul li div {
  margin:10px 0;
  text-align: center;
}

section#viewMyLinks ul li a.delete {
  background-color: #dedede;
  border-radius: 0 0 3px 3px;
  color: white;
  display: block;
  height: 20px;
  position: absolute;
  right: 5px;
  text-indent: 6px;
  top: 0;
  width: 20px;
}

section#viewMyLinks ul li a.delete:hover {
  background-color: #CE6C36;
  text-decoration: none;
}

section#viewMyLinks ul li div.confirm {
  background-color: rgba(255,255,255,.80);
  bottom: 0;
  display: none;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

section#viewMyLinks ul li div.confirm button {
  background-color: #CE6C36;
  border-radius: 0 0 3px 3px;
  height: 20px;
  position: absolute;
  right: 5px;
}

section#viewMyLinks li p a.link_tag {
  color: #a4a4a4;
  display: inline;
  font-size: 13px;
  margin: 0 0 0 5px;
}

section#login > span.join {
  margin: 0;
}

section#login > span > a {
  float: left;
  margin-top: 3px;
}

/*jquery ui*/
.ui-helper-hidden-accessible {
  display:none;
}

.ui-autocomplete {
  background-color: #285DA7;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 5px #888;
  color: #fff;
  list-style: none;
  margin: 0 15px;
  max-height: 108px;
  overflow-y: scroll;
  padding: 10px;
}

.ui-autocomplete li {
  margin-bottom: 5px;
}

.ui-autocomplete a.ui-state-focus {
  color: #7CA5DF;
}
