<!-- Tab 2 -->
<section id="viewMyLinks">
  <header>
    <h1>({{linksLength}})</h1>
    <span>
      <label>Sort by
        <select ng-model="order">
          <option value="time">Date</option>
          <option value="description">Description</option>
        </select>
        <select ng-model="reverse">
          <option value="true">Desc</option>
          <option value="false">Asc</option>
        </select>
      </label>

      <input class="filterinput" type="search" placeholder="Filter" ng-model="query" />
    </span>

  </header>
  <ul class="links">
    <li ng-repeat="link in links | filterByWord:query | orderBy:order:reverse" ng-class="{private: isPrivate(link), edit: link.confirmUpdate}">
      <article ng-show="!link.confirmUpdate">
        <a class="link" ng-href="{{link.href}}" target="_blank" title="{{link.href}}"><img class="favicon" style="height:16px; width: 16px" src="http://g.etfv.co/{{link.domain}}" />{{link.description}}</a>
        <ul class="tags">
          <li class="private-tag" ng-show="isPrivate(link)">
            <a href="" class="link_tag" ng-click="appendQuery('private')">private</a>
          </li>
          <li ng-repeat="tag in link.tags" >
            <a href="" class="link_tag" ng-click="appendQuery(tag)">{{tag}}</a>
          </li>
        </ul>
        <div class="link-actions">
          <a href="" class="edit" title="Edit this link" ng-hide="link.confirmRemoval" ng-click="confirmUpdate(link)"></a>
         <!--  <a class="delete" title="Delete this link" ng-hide="link.confirmRemoval" ng-click="confirmRemove(link)">×</a>
          <div class="confirm" ng-show="link.confirmRemoval">
            Are you sure?
            <button class="cancel_confirm" ng-click="remove(link)">Yes</button>
            /
            <button class="delete_confirm" ng-click="cancelRemove(link)">No</button>
          </div> -->
        </div>
      </article>

      <form ng-submit="update(link)" ng-show="link.confirmUpdate" class="edit-link">
        <input type="text" name="description" id="description" placeholder="Description" title="Edit description" tabindex="1" ng-model="link.description" />
        <input type="text" placeholder="tag" tabindex="2" ng-model='link.tags' ng-list select-two='myTags' select-two-show='link.confirmUpdate' />
        <label for="private-{{$index + 1}}">
          <input id="private-{{$index + 1}}" type="checkbox" name="private" value="private" ng-model="link.private" />
          Private?
        </label>
        <footer>
          <a class="remove" href="" ng-click="remove(link)">Remove</a>
          <a class="button secondary" href="" ng-click="cancelUpdate(link)">Cancel</a>
          <button class="primary" type="submit" tabindex="3">Done</button>
        </footer>
      </form>

    </li>
  </ul>
<!--   <footer>
    <p>Displaying {{linksLength}} results</p>
  </footer> -->
</section>
