<!-- Login -->
<section id="login">
  <header>
    <hgroup>
      <h1>Welcome to @Delicious</h1>
      <h2>Please login using your Delicious credentials</h2>
    </hgroup>
  </header>
  <form ng-submit='login()'>
    <input ng-required type="text" ng-model='username' name="username" id="username" placeholder="username" tabindex="1" />
    <input ng-required type="password" ng-model='password' name="password" id="password" placeholder="password" tabindex="2" />
<!--     <span class="join">
      <a target="_blank" href="https://delicious.com/join">Join Delicious</a>
    </span> -->
    <span>
      <img class="loading" src="images/loading.gif" />
      <button class='primary' type="submit">Login</button>
    </span>
  </form>
</section>
