<!-- Tab 1 -->
<section id="addToDelicious">
  <form ng-submit='add()'>
    <header>
      <h1>Add new link to Delicious</h1>
      <span>
        <input id="private" type="checkbox" name="private" value="private" ng-model='share' />
        <label for="private">Private?</label>
      </span>
    </header>
    <input type="text" name="description" id="description" placeholder="Description" title="Edit description" tabindex="1" ng-model='description' />
    <input type="text" name="tag" id="tag" placeholder="Tag, Tag" title="Edit tags (Comma delimited)" tabindex="2" ng-model='tags' ng-list />
    <span class="tags"></span>
    <span>
      <img class="loading" src="assets/images/loading.gif" />
      <button class='primary' type="submit" tabindex="3">Add</button>
    </span>
  </form>
</section>
