<section id="viewMyLinks">
  <header>
    <input tabindex="1" class="filterinput" type="search" placeholder="Filter" ng-model="query" autofocus="autofocus" />
    <div class="sort-options">
      <select ng-model="order">
        <option value="time">Date</option>
        <option value="description">Description</option>
      </select>
      <input type="checkbox" ng-model="reverse" custom-checkbox='filter-toggle' />
    </div>
  </header>
  <ul class="links" when-scrolled="loadMore()">
    <li class="animated fly-simplified" ng-repeat="link in links | filterByWord:query | orderBy:order:reverse | limitTo:limit" ng-class="{private: isPrivate(link), edit: link.confirmUpdate, linkAdded: link.linkAdded, bounceOutDown: link.removed }">
      <article ng-show="!link.confirmUpdate">
        <a class="link" ng-href="{{link.href}}" target="_blank" title="{{link.href}}">
          <img class="favicon" style="height:16px; width: 16px" src="http://g.etfv.co/{{link.domain}}" />{{link.description}}</a>
        <ul class="tags" ng-hide="hideTags">
          <li class="private-tag" ng-show="isPrivate(link)">
            <a href="" class="link_tag" ng-click="appendQuery('private')">private</a>
          </li>
          <li ng-repeat="tag in link.tags.sort()">
            <a href="" class="link_tag" ng-click="appendQuery(tag)">{{tag}}</a>
          </li>
        </ul>
        <div class="link-actions">
          <a href="" class="edit" title="Edit link" ng-click="confirmUpdate(link)"></a>
          <a href="" class="add-url" title="Add to link list" ng-click="addUrlToList(link)" ng-hide="link.linkAdded"></a>
          <a href="" class="remove-url" title="Remove from link list" ng-click="removeUrlToList(link)" ng-show="link.linkAdded"></a>
        </div>
      </article>

      <form ng-submit="update(link)" ng-show="link.confirmUpdate" class="edit-link">
        <input type="text" name="description" id="description" placeholder="Description" title="Edit description" tabindex="1" ng-model="link.tempDescription" />
        <textarea type="text" name="ext-description" id="note" rows="2" tabindex="3" placeholder="extended description" maxlength="1000" ng-model="link.note"></textarea>
        <input type="text" placeholder="tag" tabindex="2" ng-model='link.tags' ng-list select-two='myTags' select-two-show='link.confirmUpdate' />
        <label for="private-{{$index + 1}}">
          <input id="private-{{$index + 1}}" type="checkbox" name="private" value="private" ng-model="link.private" />Private
        </label>
        <footer>
          <a class="remove" href="" ng-click="confirmRemove(link)" ng-hide="link.confirmRemoval">Remove</a>
          <a class="remove confirm" href="" ng-click="remove(link)" ng-show="link.confirmRemoval">Confirm?</a>
          <a class="button secondary" href="" ng-click="cancelUpdate(link)">Cancel</a>
          <button class="primary" type="submit" tabindex="3">Done</button>
        </footer>
      </form>

    </li>
    <li ng-hide='links.length'>
      <p><a href="#/new">No Bookmarks Added Yet</a>
      </p>
    </li>
    <li>
      <p>{{linksLength}} Results
        <p>
    </li>
  </ul>
  <footer class="open-urls animated" ng-class="{fadeInUp: urlListToOpen.length > 1}" ng-show="urlListToOpen.length > 1">
    <a href="" ng-click="openUrlList()">Open your {{urlListToOpen.length}} links in new tabs</a>
    <button ng-click="clearUrlList()" title="Clear selection" class="clear">&times;</button>
  </footer>
</section>
