<section id="favoriteLinks">
  <header>
    <h1>My Favorites</h1>
  </header>
  <ul class="links" when-scrolled="loadMore()">
    <li class="animated fly-simplified" ng-repeat="link in favoriteLinks | filterByWord:query | orderBy:order:reverse | limitTo:limit" ng-class="{private: isPrivate(link), edit: link.confirmUpdate, linkAdded: link.linkAdded, bounceOutDown: link.removed }">
      <article>
        <a class="link" ng-href="{{link.href}}" target="_blank" title="{{link.href}}" style="background-color:{{link.color}};">
          <img class="favicon" style="height:16px; width: 16px" src="http://g.etfv.co/{{link.domain}}" />{{link.domain}}</a>
        <p>{{link.description}}</p>
        <div class="link-actions">
          <!--           <a href="" class="edit" title="Edit link" ng-click="confirmUpdate(link)"></a>
          <a href="" class="add-url" title="Add to link list" ng-click="addUrlToList(link)" ng-hide="link.linkAdded"></a>
          <a href="" class="remove-url" title="Remove from link list" ng-click="removeUrlToList(link)" ng-show="link.linkAdded"></a> -->
        </div>
      </article>

    </li>
  </ul>
</section>
