<section id="options">
  <header>
    <h1>Options</h1>
  </header>
  <main>
    <fieldset>
      <legend>Tab</legend>
      <input type="checkbox" id="default-tab" ng-model="defaultTab" ng-checked="defaultTab" />
      <label for="default-tab">Make <a ng-href="#/bookmarks">My links</a> the default tab</label>
    </fieldset>

    <fieldset>
      <legend>Filter settings</legend>

      <p>Include these values when filtering.</p>

      <input type="checkbox" id="filter-description" ng-model="filterDescription" ng-checked="filterDescription" />
      <label for="filter-description">Description</label>
      <br/>
      <input type="checkbox" id="filter-extended" ng-model="filterExtended" ng-checked="filterExtended" />
      <label for="filter-extended">Extended</label>
      <br/>
      <input type="checkbox" id="filter-url" ng-model="filterUrl" ng-checked="filterUrl" />
      <label for="filter-url">Url</label>
      <br/>
      <input type="checkbox" id="filter-tags" ng-model="filterTags" ng-checked="filterTags" />
      <label for="filter-tags">Tags</label>
      <br/>
      <input type="checkbox" id="filter-time" ng-model="filterTime" ng-checked="filterTime" />
      <label for="filter-time">Time</label>

    </fieldset>

    <fieldset>
      <legend>API Settings (Advanced)</legend>
      <input type="checkbox" id="parse-single-space" ng-model="parseSingleSpace" ng-checked="parseSingleSpace" />
      <label for="parse-single-space">Parse single space between tags as a delimiter (my tags don't have spaces)</label>
    </fieldset>
  </main>
</section>
