/* select2 overrides */
.select2-container.select2-container-multi {
  display: block;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 16px;
}

.select2-container-multi .select2-choices {=
  -webkit-border-radius: 3px;
  background-image: none;
  font-size: 16px;
  background-color: #fafafa;
  padding: 2px 0 0 0;
}

.select2-results {
  max-height: 100px;
}

.select2-results .select2-highlighted {
  background: #285da7;
}

.select2-container-multi.select2-container-active .select2-choices {
  -webkit-box-shadow: 0 0 5px 0 #BDD2EF;
  border: 1px solid #285da7;
}

.select2-container-multi .select2-choices .select2-search-field input {
  background-color: #fafafa !important;
  font-size: 16px;
}

.select2-container-multi .select2-choices {
  border: 1px solid #ccc;
}

.select2-drop {
  background: #fafafa;
  border-color: #285da7;
  margin-top: -2px;
}


/* validations */
::-webkit-validation-bubble-icon {
  display: none;
}

::-webkit-validation-bubble-message {
  -webkit-border-radius: 3px;
  background: #CE6C36;
  border-color: #A45328;
  color: #fff;
  padding: 4px 10px;
}

::-webkit-validation-bubble-arrow {
  -webkit-box-shadow: 0 0 0 0;
  background: #CE6C36;
  border-color: #A45328;
}

:focus {
  -webkit-box-shadow: 0px 0px 8px 0px #999;
  outline: none;
}


/* Global */
body {
  -webkit-box-sizing: border-box;
  background-color:#fff;
  color: #444;
  font-family: 'helvetica','arial', sans-serif;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding:0;
  position: relative;
  width: 500px;
}

footer {
  -webkit-box-shadow: 0 0 20px #555;
  background-color: #f1f1f1;
  border-top: 1px solid #dedede;
  color: #a9a9a9;
  font-size: 13px;
  /*margin-top: 25px;*/
  position: relative;
  text-align: center;
}

footer p a {
  color: #a9a9a9;
  font-size: 13px;
}

footer p {
  margin: 0;
  padding: 10px 0;
}

footer aside.share {
  position: absolute;
  left: 20px;
  top: 10px;
}

section {
  position: relative;
}

section header {
  position: relative;
}

section header > span {
  position: absolute;
  right: 0;
  top: 24px;
}

section header > span > input {
  width: auto;
  vertical-align: top;
}

h1 {
  display: inline-block;
}

hgroup {
  padding: 10px 20px;
  margin-bottom: 15px;
}

hgroup h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

hgroup h2 {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

section#content {
  padding: 20px 0 0 0;
}

form {
  margin: 0 20px;
}

form span {
  display: block;
  margin-top: 10px;
  text-align: right;
  position: relative;
}

form span img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

form span p {
  display: inline-block;
  float: left;
  text-align: left;
  margin: 0;
}

form input {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-sizing: border-box;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: #fafafa;
  border: 1px solid #cccccc;
  font-size: 16px;
  margin: 0 0 5px;
  padding: 7px 5px;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}

form input:focus {
  -webkit-box-shadow: 0px 0px 5px 0px #BDD2EF;
  border: 1px solid #285da7;
  outline: none;
}

form input::-webkit-validation-bubble-message {
  position: absolute;
  right: -438px;
  top: -30px;
}

button, a.button{
  -webkit-box-sizing: border-box;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  min-width: 100px;
  padding: 15px;
  position: relative;
  text-align: center;
}

a.button:hover {
  text-decoration: none;
}

button.primary,
a.button.primary {
  background-color: #285da7;
}

button.primary.selected,
a.button.primary.selected {
  background-color: #235292;
}

button.primary:hover,
a.button.primary:hover{
  background-color:#235292;
}

button.secondary,
a.button.secondary {
  background-color: #a9aaac;
}

a.selected > .nub {
  height:0;
  width:0;
  border:8px solid;
  border-color: transparent transparent #fff transparent;
  margin-left:50%;
  position: absolute;
  bottom: 0;
  left: -8px; /*thickness of border*/
}

button.link,
a {
  color:#285da7;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  display: inline-block;
}

button.link:hover,
a:hover {
  text-decoration: underline;
}

p.error {
  color: #CE6C36;
}


/* Nav */
nav {
  background-color: #285da7;
  border-bottom: 3px solid #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav ul li#search input {
    display: none;
    position: absolute;
    right: 20px;
    top: 8px;
    width: 170px;
}


/* Login */
section#login {
  margin-bottom: 25px;
}

section#login header {
  background: #285da7 url(/assets/images/icon-32.png) no-repeat 20px center;
  padding-left: 42px;
}

form input:focus:invalid {
  border: 1px solid #CE6C36;
  -webkit-box-shadow: 0px 0px 5px 0px #CE6C36;
}


/* Add link */
section#addToDelicious {
  margin-bottom: 25px;
}

header span.private {
  margin: 0;
}

span.tags {
  display: inline-block;
  font-size: 13px;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 335px;
}

span.tags p {
  font-size: 13px;
}

span.tags button {
  font-size: 13px;
  min-width: auto;
  padding: 0 0 0 4px;
}


/* View my links */
section#viewMyLinks {
  padding: 0 20px;
}

section#viewMyLinks header input {
  position: absolute;
  right: 0;
  top: 19px;
  width: 150px;
}

section#viewMyLinks ul {
  margin: 0 0 25px 0;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0;
}

section#viewMyLinks ul li {
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding: 6px  5px;
  position: relative;
}

section#viewMyLinks ul li:last-child {
  border-bottom: 1px solid #ccc;
}

section#viewMyLinks ul li:nth-child(odd) {
  background-color: #f4f4f4;
}

section#viewMyLinks ul li p {
  color: #a4a4a4;
  font-size: 13px;
  margin: 0;
  padding-top: 3px;
}

section#viewMyLinks li p a.link_tag {
  color: #a4a4a4;
  display: inline;
  font-size: 13px;
  margin: 0;
}

section#viewMyLinks ul li a {
  color: #285DA7;
  font-size: 15px;
  text-decoration: none;
}

section#viewMyLinks ul li a:hover {
  text-decoration: underline;
}