body {
  -webkit-box-sizing: border-box;
  background-color:#fff;
  color: #444;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
  font-weight: normal;
  margin: 0;
  overflow-x: hidden;
  padding:0;
  position: relative;
  width: 500px;
}

header {
  background-color: #285da7;
}

hgroup {
  padding: 10px 20px;
  margin-bottom: 15px;
}

hgroup h1 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

hgroup h2 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

div.view-container {
  padding: 20px 0;
}

button{
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  list-style-type: none;
  margin: 0;
  min-width: 78px;
  padding: 0 15px;
  position: relative;
}

button.primary {
  background-color: #285da7;
}

button.selected {
  background-color: #235292;
}

button.selected > .nub {
  height:0;
  width:0;
  border:8px solid;
  border-color: transparent transparent #fff transparent;
  margin-left:50%;
  position: absolute;
  bottom: 0;
  left: -8px; /*thickness of border*/
}

button:hover{
  background-color:#235292;
}

a {
  color:#285da7;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Login */
section#login header {
  background: #285da7 url(/images/icon-32.png) no-repeat 20px center;
  padding-left: 40px;
}

section#login form {
  margin: 0 20px;
}

section#login form input {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-sizing: border-box;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: #fafafa;
  border: 1px solid #cccccc;
  font-size: 16px;
  margin: 0 0 5px;
  padding: 5px;
  text-overflow: ellipsis;
  width: 100%;
}

section#login form span {
  display: block;
  margin-top: 10px;
  text-align: right;
}

section > span.tags {
  color: #a4a4a4;
  float: left;
  font-size: 14px;
  margin: 3px 0 0;
  text-align: left;
}

section a {
  color:#285da7;
  font-size: 14px;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section span img.loading {
  display: none;
  margin-top: 8px;
  padding: 4px 3px 0 0;
  vertical-align: top;
}

section button[disabled=disabled] {
  background-color: #285DA7;
  color: #ccc;
  cursor: default;
}

section#viewMyLinks {
  padding-bottom: 10px;
}

section#viewMyLinks ul {
  margin: 0;
  padding: 0;
}

section#viewMyLinks ul li {
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding: 6px  5px;
  position: relative;
}

section#viewMyLinks ul li:nth-child(2n) {
  background-color: #f4f4f4;
}

section#viewMyLinks ul li.private {
  border-top: 1px solid #EFCFBD;
  background: #FBF3EF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2P8/vzef05JJUYGJADmoEvAVSBLoGiDSaAIwowCABbcE8GJ8NQzAAAAAElFTkSuQmCC) repeat ;
}

section#viewMyLinks ul li p {
  background: url(../images/icon-tag.png) no-repeat left;
  color: #a4a4a4;
  font-size: 13px;
  margin-top: 3px;
  margin: 0;
  padding-left: 15px;
}

section#viewMyLinks ul li > a {
  color: #285DA7;
  font-size: 15px;
  text-decoration: none;
}

section#viewMyLinks ul li > a:first-child {
  display: inline-block;
  margin-right: 25px;
}

section#viewMyLinks ul li > a:hover {
  text-decoration: underline;
}

section#viewMyLinks ul li .link-actions {
  background-color: #dedede;
  position: absolute;
  right: 0;
  top: 0;
}

section#viewMyLinks ul li .link-actions a {
  color: white;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
}

section#viewMyLinks ul li .link-actions a:hover {
  background-color: #CE6C36;
  text-decoration: none;
}

section#viewMyLinks ul li div.confirm {
  background-color: #CE6C36;
  border-radius: 0 0 3px 3px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  padding: 0 6px;
  font-size: 11px;
}

section#viewMyLinks ul li div.confirm button {
  background: none;
  color: #fff;
  font-size: 11px;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

section#viewMyLinks li p a.link_tag {
  color: #a4a4a4;
  display: inline;
  font-size: 13px;
  margin: 0 0 0 5px;
}

section#login > span.join {
  margin: 0;
}

section#login > span > a {
  float: left;
  margin-top: 3px;
}

/*jquery ui*/
.ui-helper-hidden-accessible {
  display:none;
}

.ui-autocomplete {
  background-color: #285DA7;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 5px #888;
  color: #fff;
  list-style: none;
  margin: 0 15px;
  max-height: 108px;
  overflow-y: scroll;
  padding: 10px;
}

.ui-autocomplete li {
  margin-bottom: 5px;
}

.ui-autocomplete a.ui-state-focus {
  color: #7CA5DF;
}
