/* select2 overrides */
.select2-container.select2-container-multi {
  display: block;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 16px;
}

.select2-container-multi .select2-choices {
  -webkit-border-radius: 0;
  background-image: none;
  font-size: 16px;
  background-color: #fafafa;
  padding: 2px 0 0 0;
}

.select2-results {
  max-height: 100px;
}

.select2-results .select2-highlighted {
  background: #285da7;
}

.select2-container-multi.select2-container-active .select2-choices {
  -webkit-box-shadow: 0 0 5px 0 #BDD2EF;
  border: 1px solid #285da7;
}

.select2-container-multi .select2-choices .select2-search-field input {
  background-color: #fafafa !important;
  font-size: 16px;
}

.select2-container-multi .select2-choices {
  border: 1px solid #ccc;
}

.select2-drop {
  -webkit-border-radius: 0;
  background: #fafafa;
  border-color: #285da7;
  margin-top: -2px;
}


/* validations */
::-webkit-validation-bubble-icon {
  display: none;
}

::-webkit-validation-bubble-message {
  -webkit-border-radius: 3px;
  background: #CE6C36;
  border-color: #A45328;
  color: #fff;
  padding: 4px 10px;
}

::-webkit-validation-bubble-arrow {
  -webkit-box-shadow: 0 0 0 0;
  background: #CE6C36;
  border-color: #A45328;
}

:focus {
  -webkit-box-shadow: 0px 0px 8px 0px #999;
  outline: none;
}


/* Global */
body {
  -webkit-box-sizing: border-box;
  background-color:#fff;
  color: #444;
  font-family: 'helvetica','arial', sans-serif;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding:2px;
  position: relative;
  width: 500px;
}

#content > footer {
  background-color: #eee;
  border-top: 1px solid #fff;
  box-shadow: inset 0 7px 7px -6px #bbb;
  color: #bbb;
  font-size: 13px;
  position: relative;
  text-align: center;
}

#content > footer p a {
  color: #bbb;
  font-size: 13px;
}

#content > footer p {
  margin: 0;
  padding: 12px 0;
}

#content > footer aside.share {
  position: absolute;
  left: 20px;
  top: 10px;
}

section {
  position: relative;
}

section header {
  position: relative;
  margin: 0 20px;
}

section header > span {
  position: absolute;
  right: 0;
  top: 24px;
}

section header > span > input {
  font-size: 16px;
  margin: 0;
  vertical-align: top;
  width: auto;
}

h1 {
  display: inline-block;
}

hgroup {
  padding: 10px 20px;
  margin-bottom: 15px;
}

hgroup h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

hgroup h2 {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

section#content {
  padding: 0;
}

form {
  margin: 0 20px;
}

form span {
  display: block;
  margin-top: 10px;
  text-align: right;
  position: relative;
}

form span img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

form span p {
  display: inline-block;
  float: left;
  text-align: left;
  margin: 0;
}

form input {
  -webkit-border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-sizing: border-box;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: #fafafa;
  border: 1px solid #cccccc;
  font-size: 16px;
  margin: 0 0 5px;
  padding: 7px 5px;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}

form input:focus {
  -webkit-box-shadow: 0px 0px 5px 0px #BDD2EF;
  border: 1px solid #285da7;
  outline: none;
}

form input::-webkit-validation-bubble-message {
  position: absolute;
  right: -438px;
  top: -30px;
}

button, a.button{
  -webkit-box-sizing: border-box;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  min-width: 100px;
  padding: 15px;
  position: relative;
  text-align: center;
}

a.button:hover {
  text-decoration: none;
}

button.primary,
a.button.primary {
  background-color: #285da7;
}

button.primary.selected,
a.button.primary.selected {
  background-color: #235292;
}

button.primary:hover,
a.button.primary:hover{
  background-color:#235292;
}

button.secondary,
a.button.secondary {
  background-color: #a9aaac;
}

a.selected > .nub {
  height:0;
  width:0;
  border:8px solid;
  border-color: transparent transparent #fff transparent;
  margin-left:50%;
  position: absolute;
  bottom: 0;
  left: -8px; /*thickness of border*/
}

button.link,
a {
  color:#285da7;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  display: inline-block;
}

button.link:hover,
a:hover {
  text-decoration: underline;
}

p.error {
  color: #CE6C36;
}


/* Nav */
nav {
  background-color: #285da7;
  box-shadow: inset 0 -7px 7px -6px #08254D;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a.button {
  background-color: transparent;
  color: #C0D6F5;
  padding: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.2s;
}

nav ul li a.selected,
nav ul li a:hover {
  color: #fff;
}

nav ul li a.selected::after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  left: 50%;
  bottom: -6px;
  background: #fff;
  box-shadow: 0 0 7px #08254D;
  -webkit-transform: rotate(45deg);
}

/* Login */
section#login {
  margin-bottom: 25px;
}

section#login header {
  background: #285da7 url(/assets/images/icon-32.png) no-repeat 20px center;
  padding-left: 42px;
  box-shadow: inset 0 0 7px #08254D;
  margin: 0;
}

form input:focus:invalid {
  border: 1px solid #CE6C36;
  -webkit-box-shadow: 0px 0px 5px 0px #CE6C36;
}


/* Add link */
section#addToDelicious {
  margin-bottom: 25px;
}

header span.private {
  margin: 0;
}

span.tags {
  display: inline-block;
  font-size: 13px;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 335px;
}

span.tags p {
  font-size: 13px;
}

span.tags button {
  font-size: 13px;
  min-width: auto;
  padding: 0 0 0 4px;
}


/* View my links */
section#viewMyLinks {
  padding: 0;
}

section#viewMyLinks header {
  padding: 10px 0;
  overflow: hidden;
}

section#viewMyLinks .sort-options {
  float: left;
  width: 135px;
  margin-left: 10px;
}

section#viewMyLinks header select {
  -webkit-appearance: menulist-text;
  padding: 8px 10px;
  border-radius: 0;
  background: #285da7;
  font-size: 13px;
  margin: 0;
  border: 0;
  color: #fff;
  display: block;
  float: left;
}

section#viewMyLinks header select:first-child {
  width: 104px;
  margin-right: 1px;
}

section#viewMyLinks header select:last-child {
  width: 30px;
}

section#viewMyLinks header input {
  -webkit-appearance: textfield;
  border: 1px solid #cecece;
  float: left;
  font-size: 13px;
  margin: 0;
  padding: 7px 0;
  width: 311px;
}

section#viewMyLinks header input:focus {
  -webkit-box-shadow: 0px 0px 5px 0px #BDD2EF;
  border: 1px solid #285da7;
  outline: none;
}

section#viewMyLinks header label {
  font-size: 13px;
}

a.remove.confirm {
  color: #CE6C36;
}

.links {
  border-top: 1px solid #cecece;
  margin: 0;
  max-height: 398px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  background-color: #f7f7f7;
}

.links > li {
  background-color: #fcfcfc;
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding: 10px 45px 10px 20px;
  position: relative;
}

.links > li:nth-child(odd) {
  background-color: #f7f7f7;
}

.links > li label {
  float: left;
  margin-top: 10px;
}

.links > li label input {
  margin-bottom: 0;
  vertical-align: top;
}

.links > li p {
  color: #a4a4a4;
  font-size: 13px;
  margin: 0;
  padding-top: 3px;
}

.links li p a.link_tag {
  color: #a4a4a4;
  font-size: 13px;
  margin-right: 3px;
}

.links > li > article > a {
  color: #285DA7;
  font-size: 15px;
  text-decoration: none;
  word-break: break-all;
}

.links > li > article > a:hover {
  text-decoration: underline;
}

.links > li.private {
  border-top: 1px solid #EFCFBD;
  background: #FBF3EF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2P8/vzef05JJUYGJADmoEvAVSBLoGiDSaAIwowCABbcE8GJ8NQzAAAAAElFTkSuQmCC) repeat ;
}

.links > li:first-child {
  border-top: none;
}

.links > li img.favicon{
  padding-right: 5px;
  vertical-align: bottom;
  margin-bottom: 1px;
}

ul.tags {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.tags li {
  display: inline-block;
  font-size: 13px;
  margin-right: 2px;
  color: #a9a9a9;
}

.tags li.private-tag {
  color: #d06c2d;
}

.tags li::after {
  content: ',';
  position: relative;
  left: -4px;
}

.tags li:last-child::after,
.tags li.private-tag::after {
  display: none;
}

.tags li a {
  color: inherit;
}

.link-actions {
  height: 0;
}

.links li:hover .edit::after {
  background-size: 14px;
  background: #ccc url(/assets/images/icon-edit.png) no-repeat center;
  border-radius: 0 0 3px 3px;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 20px;
}

.links form {
  margin: 0;
}

.links form footer {
  margin-top: 10px;
  text-align: right;
}

.links form footer a {
  margin-right: 10px;
}

.links form label > input{
  width: auto;
}

.links > li.edit {
  background: #EFF4FB;
  border-top: 1px solid #7CA5DF;
  z-index: 1;
  padding: 20px;
}

.view-enter-setup {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.view-enter-setup {
  opacity: 0;
}

.view-enter-setup.view-enter-start {
  opacity: 1;
}

.link-enter-setup, .link-leave-setup {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.link-enter-setup {
  position: relative;
  left: 25px;
  opacity: 0;
}

.link-enter-setup.link-enter-start {
  left: 0;
  opacity: 1;
}

.link-leave-setup {
  position: relative;
  left: 0;
  opacity: 1;
}

.link-leave-setup.link-leave-start {
  left: 25px;
  opacity: 0;
}

