* {
  -webkit-box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color:#fff;
  color: #444;
  font-family: 'helvetica','arial', sans-serif;
  font-weight: normal;
  margin: 0;
  padding:0;
  position: relative;
}

a {
  background-color: transparent;
  color:#285da7;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* updated page */
.updated-page header {
  background: #285da7 url(../images/icon-128.png) 20px center no-repeat;
  background-size: 64px;
  color: #fff;
  margin: 0;
  padding: 40px 20px 40px 100px;
  width: 100%;
}

.updated-page header h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.updated-page h2 {
  border-bottom: 1px solid #dedede;
  padding-bottom: 2px;
}

.updated-page section {
  padding: 20px;
}

.updated-page .arrow {
  border-color: transparent transparent #285da7 transparent;
  border: 10px solid;
  height:0;
  position: absolute;
  right: 37px;
  top: -19px;
  width:0;
}

.updated-page .latest {
  color: #A45328;
}